<a href="https://colab.research.google.com/github/ChristianIES/EST1121/blob/main/Estructuras_de_Datos_09_08_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def funcion1():
  print("hola")

funcion1()

hola

In [ ]:
def funcion2(n):    #funcion que calcula el ...
  return 4*n

funcion2(3)

12

In [ ]:
def funcion3(n,m):
  return n+m,n-m

In [ ]:
var1,var2=funcion3(10,5)

In [ ]:
print(var1)

15

In [ ]:
print(var2)

5

In [ ]:
def funcion4(n,m):
  if(n<m):
    return m-n
  else:
    return n-m

In [ ]:
funcion4(1,3)

2

In [ ]:
funcion4(3,2)

1

In [ ]:
def MinMax(n,m):
  if(n<=m):
    return n,m
  else:
    return m,n

In [ ]:
n1=int(input("Ingrese un número:"))
n2=int(input("Ingrese otro número:"))
minimo,maximo=MinMax(n1,n2)
print("El mínimo es ", minimo, " y el máximo es ", maximo)

Ingrese un número:10
Ingrese otro número:-8
El mínimo es  -8  y el máximo es  10